body
{
    text-align: center;
    font-family: choco;
}
input{
    margin: 8;
     font-family: choco;
     direction: rtl;
}
#box1{
    float: right;
    border: solid 4px whitesmoke;
    margin-right: 350px;
     font-family: choco;
     height: 350px;
}
#box2{
    border: solid 4px whitesmoke;
    height: 350px;
    width: 450px;
    margin-left: 250px;
    font-family: choco;
    float: left;
}
#box3
{
    float: right;
    border: solid 4px whitesmoke;
    margin-right: 350px;
     font-family: choco;
     height: 300px;
}
#results
{
    border: solid 4px whitesmoke;
    text-align: right; 
    direction: rtl;
    width: 450px;
    margin-left: 250px;
    font-family: choco;
}
#box4{
    border: solid 4px whitesmoke;
    height: 150px;
    width: 450px;
    margin-left: 250px;
    font-family: choco;
    float: left;
     
}
#result
{
    border: solid 4px whitesmoke;
    text-align: right; 
    direction: rtl;
    width: 450px;
    /* height: 600px; */
    margin-left: 250px;
    font-family: choco;
}
label{
    font-size: 15px;
}
body{
    background-image: url("moritz-kindler-mGFHA_0TWnA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: whitesmoke;
}